/* Variables */

:root {
  --extra-dark-gray: #2D3440;
  --dark-gray: #565C66;
  --neutral-gray: #B9B9B9;
  --light-gray: #E7E7E7;
  --extra-light-white: #FCFCFC;
  --white: #FFFFFF;

  --extra-bright-pink: #FF2F64;
  --bright-pink: #FF4A78;
  --neutral-pink: #FF7799;
  --extra-light-pink: #FFCBD8;

  --blue-background: #69A9FF;
  --pink-background: #FEAFC3;
  --yellow-background: #FCC850;

  --error: #ea5454;
  --warning: #fd912e;
  --success: #00e484;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: var(--dark-gray);
  background-color: var(--pink-background);

  /* margin: 0;
  padding: 0; */
}

.title {
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;

  color: var(--extra-dark-gray);
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;

  color: var(--extra-dark-gray);
}

h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;

  color: var(--extra-dark-gray);
}

/* p,
ul,
ol {
  margin: 0;
} */

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* img {
  display: block;
} */

/* Button */

.button {
  font-size: 16px;
  line-height: 20px;
}

.regular-button {
  color: var(--extra-dark-gray);

  background-color: var(--extra-light-white);
}

.special-index-button {
  color: var(--extra-light-white);

  background-color: var(--extra-bright-pink);
}

.catalog-filter-button {
  background: rgba(252, 252, 252, 0.3);
}

/* Header */

.page-header {
  line-height: 20px;

  color: var(--extra-dark-gray);
}

.phone-link {
  font-weight: 700;
}

/* Dody */

/* Breadcrumbs */

.breadcrumbs-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  color: var(--extra-dark-gray);
}

/* Slider */

.slider {
  font-size: 18px;
  line-height: 24px;
}

/* Spetial-offer */

.spetial-offer-title {
  text-align: center;
}

.spetial-offer-item {
  color: var(--extra-dark-gray);
  background-color: var(--neutral-pink);
}

/*  Catalog filters*/

.catalog-products-form {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  color: var(--extra-dark-gray);
}

/* Hits */

.hits-title {
  text-align: center;
}

.product-card {
  background-color: var(--extra-light-white);
}

.product-card-title {
  font-size: 20px;
  line-height: 24px;
}

.order-price {
  font-size: 20px;
  line-height: 24px;

  color: var(--extra-dark-gray);
}

/* About */

.about-wrapper {
  background-image: url("../images/backgrounds/waffle.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.about {
  background-color: var(--white);
}

.about-title {
  text-align: center;
}

/* Useful-information */

.useful-information-title {
  font-weight: 700;
}

/* Subscription */

.subscription-wrapper {
  background-image: url("../images/backgrounds/subscription.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription {
  background-color: var(--white);
}

/* Delivery */

.delivery {
  background-image: url("../images/backgrounds/delivery.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.delivery-form {
  background-color: var(--extra-light-white);
}

.delevery-label {
  line-height: 20px;
  font-weight: 700;

  color: var(--extra-dark-gray);
}

.contacts-wrapper {
  background-image: url("../images/backgrounds/feedback.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.contacts {
  background-color: var(--extra-light-white);
}

.contacts-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: var(--dark-gray);
}

.contacts-info {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;

  color: var(--extra-dark-gray);
}

.contacts-additional-info {
  font-size: 14px;
  line-height: 20px;
}

/* Pagination */

.catalog-list-pagination {
  line-height: 20px;
}

/* Footer */

.page-footer {
  font-size: 14px;
  line-height: 20px;

  color: var(--extra-dark-gray);
}

.footer-spetial-link {
  font-weight: 700;
}

.copyright-pharagraph {
  font-size: 12px;
  line-height: 16px;
}
